<% @children.each do |child| %>
    <ul>
    <li>Name: <%= link_to child.name, child_path(child) %> - Birthday: <%= child.birthday %></li>
    <%= link_to 'Edit', edit_child_path(child) %>
    <%= link_to 'Delete', child, method: :delete, data: { confirm: 'Are you sure' } %>
    </ul>
<% end  %>
Do you want to <%= link_to "add another child", new_child_path %>