<% if @child.errors.any? %>
<h2>The following errors prevented the todo from being saved</h2>
<ul>
<% @child.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %
 <%= form_for(@child) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>

  <%= f.fields_for :memories do |mem| %>
    <%= mem.label :title %>
    <%= mem.text_field :title %>
    <%= mem.fields_for :category do |c| %>
       <%= c.label :category, "Category "%>
       <%= c.text_field :name, list: "categories_autocomplete" %>
        <datalist id="categories_autocomplete">
          <% Category.all.each do |category| %>
            <option value="<%= category.name %>">
          <% end %>
        </datalist>
    <% end  %>
    <%= mem.label :content %>
    <%= mem.text_area :content %>
    <%= mem.hidden_field :user_id, value: current_user.id %>
  <% end  %>
  <%= f.submit %>
<% end %>