<h1> New Child Form </h1>

<%= form_for(@child) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :birthday %>
  <%= f.date_field :birthday %>

  <%= f.fields_for :memories do |mem| %>
    <%= mem.label :title %>
    <%= mem.text_field :title %>
    <%= mem.label :content %>
    <%= mem.text_area :content %>
    <%= mem.hidden_field :user_id, value: current_user.id %>
  <% end  %>

  <%= f.submit %>

  <% end %>