<%= @user.name %>'s Children</h4>
<ul>
    <% @children.each do |child| %>
    <li><%= link_to child.name, child_path(child) %></li>
    <% end %>
</ul>

<p><%= link_to "Create a Child", new_child_path %>

<%= if @user.children_with_memories %>
    <p>Children you've made memories for</p>
    <ul>    
        <% @children_with_memories.each do |child| %>
            <li><%= link_to child.name, child_path(child) %></li>
            <% end %>
        </ul>
 <% end %>
<%= link_to "Edit Your Profile", edit_user_path(@user)%>
